.form-container{
  position : absolute;
  top : 32vh;
}

.heading{
  position : absolute;
  top : 20vh;
  color : red;
}

.bg{
  background-color: rgb(198, 198, 236);
  /* background-image : url(./download.jpg) no-repeat; */
  width : 100%;
  height : 100vh;
  background-size : 100%;
}

.pic{
  width : 20%;
  height : 30vh;
}